/* VARIABLES */
/* ----------------------------------------------------------------------------- */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f2f2f2;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 1000em; }

main,
.div_main {
  flex: 1 0 auto;
  width: 100%;
  margin: 0em auto;
  padding: 1em;
  background: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif;
  background: #eff4f6; }

.contenedor {
  width: 90%;
  padding: 2em 2em;
  margin: auto; }

.mensaje_admin {
  background: rgba(47, 185, 168, 0.5);
  padding: 1em 0.8em;
  text-align: center; }

/* CLASES SASS */
/* ----------------------------------------------------------------------------- */
.box, .contenido_img, .contenido {
  height: 100vh;
  width: 100%; }

.contenido_img, .contenido, .titulo_top .titular_cadeterias_foto,
.titulo_top .titular_fletes_foto, .titulo_top .titular_cadeterias_foto .titular_cadeterias_fondo,
.titulo_top .titular_cadeterias_foto .titular_fletes_fondo,
.titulo_top .titular_fletes_foto .titular_cadeterias_fondo,
.titulo_top .titular_fletes_foto .titular_fletes_fondo {
  background-size: cover;
  display: table;
  background-attachment: fixed; }

.menu_down_principal .text_principal, .contenido .titulo_principal {
  font-family: "Raleway", sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 900;
  color: #f2f2f2; }

.contenedor .titulo {
  font-family: "Raleway", sans-serif;
  font-size: 5em;
  font-weight: 900;
  color: #141414;
  text-align: center; }

.menu_down_principal .text_secundario, .contenido .texto_principal, footer .redes-sociales li a, .footer-copyright {
  font-family: "Raleway", sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 300;
  color: #f2f2f2; }

/* ANIMACIONES */
/* ----------------------------------------------------------------------------- */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }
  to {
    opacity: 1;
    transform: none; } }
.fadeInLeft {
  animation-name: fadeInLeft; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  animation-name: zoomIn; }

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0); } }
.shake {
  animation-name: shake; }

@keyframes flip {
  from {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out; }
  40% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out; }
  50% {
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in; }
  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95);
    animation-timing-function: ease-in; }
  to {
    transform: perspective(400px);
    animation-timing-function: ease-in; } }
.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  animation-name: flip; }

.shake {
  animation-name: shake; }

@keyframes colores {
  0% {
    background: rgba(47, 185, 168, 0.8); }
  12.5% {
    background: rgba(47, 170, 168, 0.7); }
  25% {
    background: rgba(47, 155, 168, 0.6); }
  37.5% {
    background: rgba(47, 140, 168, 0.5); }
  50% {
    background: rgba(47, 125, 168, 0.4); }
  62.5% {
    background: rgba(47, 140, 168, 0.5); }
  75% {
    background: rgba(47, 155, 168, 0.6); }
  87.5% {
    background: rgba(47, 170, 168, 0.7); }
  100% {
    background: rgba(47, 185, 168, 0.8); } }
@keyframes colores_color {
  0% {
    color: rgba(47, 185, 168, 0.8); }
  12.5% {
    color: rgba(47, 170, 168, 0.7); }
  25% {
    color: rgba(47, 155, 168, 0.6); }
  37.5% {
    color: rgba(47, 140, 168, 0.5); }
  50% {
    color: rgba(47, 125, 168, 0.4); }
  62.5% {
    color: rgba(47, 140, 168, 0.5); }
  75% {
    color: rgba(47, 155, 168, 0.6); }
  87.5% {
    color: rgba(47, 170, 168, 0.7); }
  100% {
    color: rgba(47, 185, 168, 0.8); } }
@keyframes border_bottom_color {
  0% {
    border-bottom: 4px solid rgba(47, 185, 168, 0.8); }
  12.5% {
    border-bottom: 4px solid rgba(47, 170, 168, 0.7); }
  25% {
    border-bottom: 4px solid rgba(47, 155, 168, 0.6); }
  37.5% {
    border-bottom: 4px solid rgba(47, 140, 168, 0.5); }
  50% {
    border-bottom: 4px solid rgba(47, 125, 168, 0.4); }
  62.5% {
    border-bottom: 4px solid rgba(47, 140, 168, 0.5); }
  75% {
    border-bottom: 4px solid rgba(47, 155, 168, 0.6); }
  87.5% {
    border-bottom: 4px solid rgba(47, 170, 168, 0.7); }
  100% {
    border-bottom: 4px solid rgba(47, 185, 168, 0.8); } }
@keyframes border_bottom_groove_color {
  0% {
    border-bottom: 1em groove rgba(47, 185, 168, 0.8); }
  12.5% {
    border-bottom: 1em groove rgba(47, 170, 168, 0.7); }
  25% {
    border-bottom: 1em groove rgba(47, 155, 168, 0.6); }
  37.5% {
    border-bottom: 1em groove rgba(47, 140, 168, 0.5); }
  50% {
    border-bottom: 1em groove rgba(47, 125, 168, 0.4); }
  62.5% {
    border-bottom: 1em groove rgba(47, 140, 168, 0.5); }
  75% {
    border-bottom: 1em groove rgba(47, 155, 168, 0.6); }
  87.5% {
    border-bottom: 1em groove rgba(47, 170, 168, 0.7); }
  100% {
    border-bottom: 1em groove rgba(47, 185, 168, 0.8); } }
@keyframes border_top_color {
  0% {
    border-top: 0.4em solid rgba(47, 185, 168, 0.8); }
  12.5% {
    border-top: 0.4em solid rgba(47, 170, 168, 0.7); }
  25% {
    border-top: 0.4em solid rgba(47, 155, 168, 0.6); }
  37.5% {
    border-top: 0.4em solid rgba(47, 140, 168, 0.5); }
  50% {
    border-top: 0.4em solid rgba(47, 125, 168, 0.4); }
  62.5% {
    border-top: 0.4em solid rgba(47, 140, 168, 0.5); }
  75% {
    border-top: 0.4em solid rgba(47, 155, 168, 0.6); }
  87.5% {
    border-top: 0.4em solid rgba(47, 170, 168, 0.7); }
  100% {
    border-top: 0.4em solid rgba(47, 185, 168, 0.8); } }
/* NAV */
/* ----------------------------------------------------------------------------- */
.nav_menu {
  background: rgba(19, 19, 19, 0.9);
  animation: border_bottom_color 5s ease infinite;
  padding: 0 1em; }
  .nav_menu:hover {
    background: #141414; }
  .nav_menu .nav_menu_icono .nav_menu_enlace:hover {
    color: #2fb9a8; }
  .nav_menu .nav_menu_icono .nav_menu_enlace:focus {
    color: #FFAB40; }

.brand-logo {
  color: #f2f2f2;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  opacity: 0.8; }
  .brand-logo:hover {
    opacity: 1; }

.menu_down_principal {
  background: rgba(19, 19, 19, 0.9);
  padding: 5em 0em;
  min-width: 40em;
  max-height: 60em; }
  .menu_down_principal .menu_principal,
  .menu_down_principal .menu_secundario {
    padding: 0em 3em; }
  .menu_down_principal .text_principal {
    font-size: 5em;
    text-align: center;
    padding: 0.5em 0em; }
    .menu_down_principal .text_principal:hover {
      color: rgba(19, 19, 19, 0.9); }
  .menu_down_principal .text_secundario {
    font-size: 2em; }
    .menu_down_principal .text_secundario:hover {
      color: rgba(19, 19, 19, 0.9); }

.menu_down_perfil,
.menu_down_contacto {
  background: rgba(19, 19, 19, 0.9);
  padding: 5em 0em;
  min-width: 13em;
  height: 11.75em; }
  .menu_down_perfil .texto_enlace_perfil,
  .menu_down_contacto .texto_enlace_perfil {
    font-family: "Raleway", sans-serif;
    color: #fff; }
    .menu_down_perfil .texto_enlace_perfil:hover,
    .menu_down_contacto .texto_enlace_perfil:hover {
      background: #fff;
      color: rgba(19, 19, 19, 0.9); }

.divider {
  animation: colores 5s ease infinite; }

.pregunta_contac {
  margin-bottom: 1.5em; }

/* CONTENIDO PAGINA PRINCIPAL */
/* ----------------------------------------------------------------------------- */
.contenido_img {
  z-index: 500;
  background-image: url("../img/fondo_principal.jpg"); }

.contenido {
  z-index: 1000;
  animation: colores 20s ease infinite;
  text-align: right;
  padding: 0em 7em; }
  .contenido .titulo_principal {
    font-size: 10em;
    animation-name: fadeInLeft;
    animation-duration: 3s; }
  .contenido .texto_principal {
    font-size: 2em;
    margin: 0.2em 0em;
    animation-name: fadeInLeft;
    animation-duration: 2s; }

/* FOOTER */
/* ----------------------------------------------------------------------------- */
footer {
  font-family: "Raleway", sans-serif; }
  footer .redes-sociales {
    display: flex;
    justify-content: center; }
    footer .redes-sociales .facebook:hover,
    footer .redes-sociales .instagram:hover,
    footer .redes-sociales .twitter:hover {
      color: #2fb9a8; }
    footer .redes-sociales .facebook:focus,
    footer .redes-sociales .instagram:focus,
    footer .redes-sociales .twitter:focus {
      color: #FFAB40; }

footer .redes-sociales li a {
  text-align: center;
  padding: 0em 3em;
  font-size: 2.5em; }

.footer-copyright {
  display: flex;
  justify-content: space-around; }

.box_footer {
  width: 100%;
  background: rgba(19, 19, 19, 0.9); }
  .box_footer:hover {
    background: #141414; }

.footer_enlace {
  color: #FFAB40; }
  .footer_enlace:hover {
    text-decoration: underline; }

/* CONTENIDO */
/* ----------------------------------------------------------------------------- */
.sec1 {
  text-align: center; }
  .sec1 .perfil_top {
    background: #2fb9a8;
    color: #f2f2f2;
    font-family: "Raleway", sans-serif;
    padding: 1em; }
    .sec1 .perfil_top .perfil_usuario .titulo_perfil {
      font-size: 3em;
      font-weight: 900; }
    .sec1 .perfil_top .perfil_foto .foto_perfil {
      width: 15em; }

.sec2 {
  animation: border_top_color 2s ease infinite;
  animation: fadeInLeft 1s; }
  .sec2 .info1 {
    text-align: right; }

.vidas {
  color: #FFAB40; }

.vidas_no {
  color: #6c6c6c; }

.box_calificacion .calificacion {
  color: #fff;
  animation: flip 3s ease infinite;
  margin: 0.5em; }

.perfil_titulo {
  animation: border_top_color 5s ease infinite; }

.perfil_contactar {
  background: rgba(19, 19, 19, 0.9);
  padding: 1em;
  opacity: 0.8; }
  .perfil_contactar:hover {
    opacity: 1; }
    .perfil_contactar:hover .boton {
      color: #FFAB40; }
  .perfil_contactar .boton {
    color: #fff;
    font-size: 5em;
    font-weight: 900;
    padding: 0.1em;
    padding: 0em 10%; }

.perfil_contactar2 {
  display: none; }

.texto,
.texto_desactivado {
  font-size: 1.5em; }

.flex_ico {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em; }
  .flex_ico .icono {
    color: #2fb9a8; }
  .flex_ico .material-icons {
    font-size: 80px; }

.flex_ico_ed {
  display: flex;
  flex-direction: rows;
  justify-content: space-between;
  align-items: center;
  padding: 0em 3em; }
  .flex_ico_ed .icono {
    color: #2fb9a8; }
  .flex_ico_ed .icono_no {
    color: #6c6c6c; }

.flex_btn {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  align-items: center;
  padding: 0em 1em; }
  .flex_btn .icono {
    animation: shake 1s ease infinite;
    color: #2fb9a8; }
  .flex_btn:hover .icono {
    animation: shake 0s ease infinite; }

.flex_ico_pregunta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em; }
  .flex_ico_pregunta .icono {
    color: #2fb9a8; }
  .flex_ico_pregunta .icono_no {
    color: rgba(235, 32, 32, 0.96); }
  .flex_ico_pregunta .texto_pregunta {
    color: #141414;
    font-size: 1.2em; }
  .flex_ico_pregunta:hover .icono,
  .flex_ico_pregunta:hover .icono_no {
    color: #FFAB40;
    animation: shake 1s ease infinite; }
  .flex_ico_pregunta:hover .texto_pregunta {
    color: #FFAB40;
    font-size: 1.2em; }

.flex_radio {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  align-items: center;
  padding: 0em 1em; }
  .flex_radio .radio_btn {
    color: #2fb9a8; }
    .flex_radio .radio_btn .label_radio_btn {
      font-size: 1em; }

.vistas_titulo {
  text-align: center; }

.box_compra_vistas {
  margin-top: 2em; }

.boton_contacto_box {
  background: rgba(19, 19, 19, 0.9); }
  .boton_contacto_box .boton_contacto_li {
    background: rgba(19, 19, 19, 0.9); }
  .boton_contacto_box .boton_contacto {
    padding: 1em;
    text-align: center;
    font-size: 1.7em;
    background: rgba(19, 19, 19, 0.9);
    color: #fff; }
    .boton_contacto_box .boton_contacto .boton_contacto_enlace {
      color: #fff; }
      .boton_contacto_box .boton_contacto .boton_contacto_enlace:hover {
        color: #2fb9a8; }

.icono_para_cliente {
  font-size: 100px;
  opacity: 0.8;
  color: #141414;
  padding: 1em; }
  .icono_para_cliente:hover {
    opacity: 1;
    color: #2fb9a8;
    cursor: pointer; }

.text_modal_footer {
  color: rgba(19, 19, 19, 0.9);
  text-align: center; }

.preguntas_enlaces {
  display: flex;
  flex-direction: rows;
  justify-content: space-around;
  align-items: center;
  padding: 0em 2em; }

.mas_vistas:hover {
  color: #FFAB40; }

.btn_delet_mod {
  text-align: right;
  margin: 2em;
  padding: 1em; }
  .btn_delet_mod .delet {
    background: #6c6c6c;
    margin-left: 1em; }
    .btn_delet_mod .delet:hover {
      background: #eb3b23; }
  .btn_delet_mod .mod {
    background: #6c6c6c; }
    .btn_delet_mod .mod:hover {
      background: #FFAB40; }

/* EDITAR CONTENIDO */
/* ----------------------------------------------------------------------------- */
.ico_edit {
  color: #2fb9a8; }
  .ico_edit:hover {
    color: #FFAB40; }

.editar_tablas {
  padding: 1em; }

.btn_guardar {
  margin-bottom: 2em; }

/* ACERCA DE NOSOTROS */
/* ----------------------------------------------------------------------------- */
.info_de_mi .redes-sociales {
  font-size: 3em; }

/* CONTENIDO_INFO */
/* ----------------------------------------------------------------------------- */
.contenido_info {
  background-color: #2fb9a8; }
  .contenido_info .titulo {
    font-family: "Raleway", sans-serif;
    font-size: 3.8em;
    font-weight: 900; }
  .contenido_info .texto {
    font-size: 1.5em; }
  .contenido_info .mostrar_vidas .vidas {
    color: #FFAB40;
    animation: flip 3s ease infinite;
    margin-left: 1em; }
  .contenido_info .mostrar_calificacion .calificacion {
    color: #cbaa1d;
    animation: flip 3s ease infinite; }
  .contenido_info .mostrar_foto {
    padding: 1em; }

.boton_continuar {
  margin: 2em; }
  .boton_continuar .continuar {
    font-size: 2em;
    font-weight: 900;
    color: #141414; }
    .boton_continuar .continuar:hover {
      color: #cbaa1d; }

.contacto_flex_box {
  width: 80%;
  margin: 2em auto; }
  .contacto_flex_box .texto_importante {
    color: #2fb9a8;
    font-size: 1.2em; }

#modal_pregunta {
  height: 40%;
  padding: 1em; }

.flex_ico_contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0em 1em;
  font-size: 1.8em; }
  .flex_ico_contacto .icono {
    color: #2fb9a8; }
  .flex_ico_contacto:hover {
    color: #FFAB40; }

/* FORM */
/* ----------------------------------------------------------------------------- */
.contenedor {
  background: #fff;
  text-align: center;
  font-family: "Raleway", sans-serif; }

.link_reg {
  color: #2fb9a8;
  font-size: 2.5em;
  font-weight: 400;
  opacity: 0.9; }
  .link_reg:hover {
    cursor: pointer;
    color: #FFAB40;
    opacity: 1; }

.link_reg_2:hover {
  text-decoration: underline; }

.back {
  margin-top: 5em;
  text-align: center; }

.link_back {
  color: #141414;
  font-size: 1.5em;
  opacity: 0.7; }
  .link_back:hover {
    cursor: pointer;
    opacity: 1; }

.row {
  margin-bottom: 2em; }

.check {
  text-align: left;
  margin: 5em 0em; }

.registro_check {
  padding: 1em; }
  .registro_check h4 {
    margin-bottom: -2.5em; }

.dos_campos,
.un_campo,
.tres_campos {
  margin: 5em 0em;
  text-align: center; }

.pregunta {
  text-align: center; }
  .pregunta .titulo_pregunta {
    font-size: 2em; }
  .pregunta .titulo_monto {
    font-size: 1.5em; }

.texto_small {
  font-size: 1.2em;
  margin: 2em 0em;
  text-align: center; }

.mens .mensaje {
  background: rgba(19, 19, 19, 0.9);
  color: #fff;
  padding: 1em;
  margin: 1em; }

.modal {
  text-align: center; }
  .modal .modal_box {
    margin: 1em;
    opacity: 0.8; }
    .modal .modal_box:hover {
      opacity: 1; }
    .modal .modal_box .btn:focus {
      background: #FFAB40; }

.box_mensaje_error {
  margin-top: 1em;
  font-size: 1em;
  color: #eb3b23; }

.texto_error {
  color: #eb3b23;
  font-size: 1em; }

/* LABEL COLOR */
.label_textarea {
  text-align: left;
  font-size: 1em;
  color: #2fb9a8; }

.label_textarea_desactivado {
  text-align: left;
  font-size: 1em;
  color: #6c6c6c; }

#correo_desactivado,
#dni_desactivado {
  color: #6c6c6c;
  font-size: 1.5em; }

/* PLACEHOLDER COLOR */
*::-webkit-input-placeholder {
  /* Google Chrome y Safari */
  color: #343434;
  font-size: 0.8em; }

*:-moz-placeholder {
  /* Firefox anterior a 19 */
  color: #343434;
  font-size: 0.8em; }

*::-moz-placeholder {
  /* Firefox 19 y superior */
  color: #343434;
  font-size: 0.8em; }

*:-ms-input-placeholder {
  /* Internet Explorer 10 y superior */
  color: #343434;
  font-size: 0.8em; }

/* SELECT COLOR IMG */
.circle {
  background: #2fb9a8; }

.titulo_top {
  text-align: center; }
  .titulo_top .titular_cadeterias_foto,
  .titulo_top .titular_fletes_foto {
    width: 100%;
    height: auto;
    padding: 0.5em 1em;
    text-align: center;
    animation: border_bottom_groove_color 5s ease infinite;
    z-index: 100; }
    .titulo_top .titular_cadeterias_foto .titular,
    .titulo_top .titular_fletes_foto .titular {
      font-family: "Raleway", sans-serif;
      color: #fff;
      font-size: 12em;
      font-weight: 900; }
    .titulo_top .titular_cadeterias_foto .titular_cadeterias_fondo,
    .titulo_top .titular_cadeterias_foto .titular_fletes_fondo,
    .titulo_top .titular_fletes_foto .titular_cadeterias_fondo,
    .titulo_top .titular_fletes_foto .titular_fletes_fondo {
      width: 100%;
      height: auto;
      z-index: 200;
      background: rgba(0, 0, 0, 0.5); }
  .titulo_top .texto_cadeterias {
    font-family: "Raleway", sans-serif;
    color: rgba(19, 19, 19, 0.9);
    font-size: 3em;
    font-weight: 900;
    margin-bottom: -0.24em; }

.titular_cadeterias_foto {
  background-image: url("../img/fondo_cadetes2.jpg"); }

.titular_fletes_foto {
  background-image: url("../img/fondo_fletes2.jpg"); }

.carousel {
  background: red;
  vertical-align: middle;
  max-height: 20em; }

.sec_buscar {
  background: #fff; }

.sec_publicar {
  background: #fff; }

.buscador {
  margin: 0.5em auto;
  text-align: left;
  font-size: 1.2em;
  padding: 0.5em; }

.boton_buscar {
  margin-bottom: 1em; }

.box_post {
  background: #fff; }
  .box_post .foto_post .img_post {
    image-resolution: from-image;
    max-width: 150px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    height: auto;
    margin: 1em;
    border-radius: 1em 0em 1em 0em; }
  .box_post .foto_post .icono_servicio {
    margin-left: 1em; }
  .box_post .btn_post_2 {
    margin: 1em; }
  .box_post .monto_post {
    width: 100%;
    height: 100%;
    margin: auto;
    color: #2fb9a8; }
    .box_post .monto_post .text_monto_post {
      font-size: 2em; }

.face_post {
  max-height: 500px;
  height: 650px; }

@media (max-width: 1250px) {
  .contenedor {
    width: 95%;
    padding: 1em 1em; }

  .texto {
    font-size: 1.3em; }

  .box_calificacion .calificacion {
    font-size: 1.5em; }

  .material-icons {
    font-size: 40px; } }
@media (max-width: 992px) {
  .contenedor {
    width: 100%;
    padding: 1em 3em; }

  .contenido {
    text-align: center; }
    .contenido .titulo_principal {
      font-size: 7em; }

  .perfil_titulo {
    display: none; }

  .titulo_top {
    text-align: center; }
    .titulo_top .titular_cadeterias_foto .titular,
    .titulo_top .titular_fletes_foto .titular {
      font-size: 6em; }
    .titulo_top .texto_cadeterias {
      font-size: 2em; }

  .face_post,
  .card {
    display: none; }

  .perfil_contactar {
    display: none; }

  .perfil_contactar2 {
    display: block;
    background: rgba(19, 19, 19, 0.9);
    padding: 1em;
    opacity: 0.8; }
    .perfil_contactar2:hover {
      opacity: 1; }
      .perfil_contactar2:hover .boton {
        color: #FFAB40; }
    .perfil_contactar2 .boton {
      color: #fff;
      font-size: 2.5em;
      font-weight: 900;
      padding: 0.1em;
      padding: 0em 10%; }

  .modal_contacto {
    font-size: 1.5em; }

  .flex_ico_pregunta {
    text-align: center;
    flex-direction: column; } }
@media (max-width: 600px) {
  .contenedor {
    width: 100%;
    padding: 0.1em 0.1em;
    margin: auto; }

  .texto {
    font-size: 1.2em; }

  .contenido {
    text-align: center; }
    .contenido .titulo_principal {
      font-size: 2.5em; }
    .contenido .texto_principal {
      font-size: 1em; }

  footer .redes-sociales li a {
    padding: 0em 1em;
    font-size: 2em; }

  .titulo_top {
    text-align: center; }
    .titulo_top .titular_cadeterias_foto .titular,
    .titulo_top .titular_fletes_foto .titular {
      font-size: 3em; }

  .menu_down_principal {
    padding: 1em 0em;
    min-width: 13em;
    height: 11.75em; }
    .menu_down_principal .menu_principal,
    .menu_down_principal .menu_secundario {
      padding: 0em 0em; }
    .menu_down_principal .text_principal {
      font-size: 3em;
      padding: 0.5em 0em; }
    .menu_down_principal .text_secundario {
      font-size: 2em; }

  .flex_ico {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0em 0em; }
    .flex_ico .material-icons {
      font-size: 80px; }

  .btn_delet_mod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .btn_delet_mod a {
      margin: 1em 0em; }

  .perfil_contactar2 {
    display: block;
    background: rgba(19, 19, 19, 0.9);
    padding: 0.2em;
    opacity: 0.8; }
    .perfil_contactar2:hover {
      opacity: 1; }
      .perfil_contactar2:hover .boton {
        color: #FFAB40; }
    .perfil_contactar2 .boton {
      font-size: 2em; } }

/*# sourceMappingURL=estilos.css.map */
