  /* VARIABLES */
  /* ----------------------------------------------------------------------------- */
  // COLORES:
  $color_principal_fondo: rgb(47, 185, 168);
  $color_secundario: #FFAB40;
  $color_error: rgb(235, 59, 35);

  $color_oscuro_transparencia: rgba(19, 19, 19, 0.9);
  $color_fuente_oscuro: rgb(20, 20, 20);

  $color_fondo_claro: rgb(239, 244, 246);
  $color_fuente_claro: #f2f2f2;

  $color_enlace_desativado: rgba(168, 168, 168, 0.9);

  // FUENTES:
  $font_texto: 'Raleway', sans-serif;

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $color_fuente_claro;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    max-width: 1000em;
   }

   main,
   .div_main {
     flex: 1 0 auto;
     width: 100%;
     margin: 0em auto;
     padding: 1em;
     background: #fff;
     text-align: center;
     font-family: $font_texto;
     background: $color_fondo_claro;
   }

   .contenedor {
     width: 90%;
     padding: 2em 2em;
     margin: auto;
   }

   .mensaje_admin {
     background: rgba(47, 185, 168, 0.5);
     padding: 1em 0.8em;
     text-align: center;

   }

  @import "estilos_compartidos";
  @import "estilos_principales";
  @import "estilos_form";
  @import "cadeterias";
  @import "media_queries";
  @import "paginacion";
